<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head") %>

<body>
    <%- include("./partials/headerDeslogueado") %>

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                  
             <% for( let i = 0; i < posts.length; i++ ) { %>
                <% const post= posts[i] %> 
                <article class="post uk-card-default uk-flex uk-flex-column">
                    <div class="info-usuario uk-flex ">
                        <div class="fotoPerfil">
                            <img src="<%= post.brandUser.profilepic %> " alt="">
                        </div>
                        <h4><a class="atUsername" href="/users/profile/<%= post.brandUser.id %> "><%= post.brandUser.username %> </a></h4>
                        
                    </div>
                    <div class="post-body uk-flex uk-flex-center">
                        <a href="/posts/detail/<%= post.id %> ">
                            <img src="<%= post.image %> " alt="">
                            
                        </a>
                    </div>
                    <div class="post-reacciones">
                        <ul class="post-icons uk-flex uk-flex-between">
                            <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                            </li>
                            <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                            </li>
                        </ul>
                        <div class="post-pie uk-flex">
                            <h5 class="description"><a class="atUsername" href="/users/profile/<%= post.brandUser.id %> "><%= post.brandUser.username %> </a></h5>
                            <p class="description"><%= post.description %> </p>
                        </div>
                    </div>
                    <div class="post-comentarios">
                        <h6>Comentarios</h6>
                        <ul>
                    
                            <% for( let i = 0; i < post.comments.length; i++ ) { %>
                                <li>
                                    <a href="/users/profile/<%= post.comments[i].brandUser.id %> "><%= post.comments[i].brandUser.username %>   </a>
                                    <p><%= post.comments[i].content %> </p>
                                </li>
                            <% } %>
                            <a href="">Ver más...</a>
                        </ul>
                    </div>
                </article>
             <% } %>
                    
        
                </section>

            </div>
        </div>
    </main>

    <%- include("./partials/footer") %> 

</body>

</html>